<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--
    <div th:replace="/fragments/header :: header-css"/>
-->
</head>
<body>
<!--
<div th:replace="/fragments/header :: header"/>
-->
<div class="container">
    <h2>tous les acteurs</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>naissance</th>
            <th>photoPath</th>

        </tr>
        <tr th:each="personne : ${personnes}">
            <td th:text="${personne.id}">Id</td>
            <td th:text="${personne.nom}">nom</td>
            <td th:text="${personne.prenom}">prenom</td>
            <td th:text="${personne.naissance}">naissance</td>
            <td th:text="${personne.photoPath}">photoPath</td>
            <td><a href="#" th:href="@{'mod/'+${personne.id}}" class="btn btn-default">Edit</a></td>
            <td><a th:href="@{'/person/delete/' + ${personne.id}}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
</div>
</div>
<!--
<div th:replace="fragments/footer :: footer"/>
-->
</body>
</html>
</body>
</html>


